**.cache/*.*
*.pyc
**/Output/*
!**/Output/.gitkeep
Docs/_build/*
Docs/auto_examples/*
Documentation/*
.pytest_cache/*
Tests/anytest-output/*
Tests/_anytest-output/*
.mypy_cache
.pytest_cache
Application/MocapExamples/Rehazenter-adult-walking-model/Output/*
*_[0-9][0-9][0-9][0-9].png
*.mp4
*_Preview.png
*).anymcr
*).txt

ffmpeg2pass-*.log
# pixi environments
.pixi

BatchProcess*.ipynb
Subjects/*
!Subjects/SX - Template
!Subjects/SX - Template/*
!Subjects/SX - Template/*/*

!Subjects/S013
!Subjects/S013/*
!Subjects/S013/*/*

!Subjects/S026/SubjectSpecificData.any
!Subjects/S026/Inputs/S026_StandingRef.c3d
!Subjects/S026/S026_StandingRef/*.any

!Subjects/S034/SubjectSpecificData.any
!Subjects/S034/Inputs/S034_StandingRef.c3d
!Subjects/S034/S034_StandingRef/*.any

!Subjects/S035/SubjectSpecificData.any
!Subjects/S035/Inputs/S035_StandingRef.c3d
!Subjects/S035/S035_StandingRef/*.any